body{

background:#eef4f3;

font-family:Arial,Helvetica,sans-serif;

margin:0;

padding:0;

}

.container{

width:90%;

margin:auto;

text-align:center;

}

h1{

margin:30px;

color:#2c3e50;

}

.cards{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

}

.card{

background:white;

width:220px;

padding:20px;

border-radius:15px;

box-shadow:0 5px 10px rgba(0,0,0,0.15);

}

.card p{

font-size:30px;

font-weight:bold;

color:#27ae60;

}

.control{

display:flex;

justify-content:center;

gap:40px;

margin-top:40px;

flex-wrap:wrap;

}

.relay{

background:white;

padding:20px;

width:250px;

border-radius:15px;

box-shadow:0 5px 10px rgba(0,0,0,0.15);

}

button{

padding:10px 20px;

margin:10px;

font-size:16px;

border:none;

border-radius:8px;

cursor:pointer;

background:#27ae60;

color:white;

}

button:hover{

background:#1f8b4d;

}
